In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from mysql.connection

ModuleNotFoundError: No module named 'myconnection'

In [28]:
def extraer_datos(ruta_de_archivo): 
    archivo=pd.read_csv(ruta_de_archivo)
    data_frame=pd.DataFrame(archivo)
    return(data_frame)

In [20]:
df.columns

Index(['ID de venta', 'Fecha de venta', 'Hora de Venta', 'ID de producto',
       'Nombre del producto', 'Precio de venta', 'Género del cliente',
       'Cantidad vendida', 'ID de cliente', 'Nombre del cliente',
       'Ubicación de la tienda', 'Nombre de la tienda', 'ID de la tienda',
       'Descuento'],
      dtype='object')

In [64]:
def transformacion(data_frame):
    fecha=[]
    for i in range(len(data_frame['Fecha de venta'])):
        date_str=data_frame['Fecha de venta'][i]+' '+data_frame['Hora de Venta'][i]
        date_format= '%m/%d/%Y %I:%M %p'
        date_obj = datetime.strptime(date_str, date_format)
        fecha.append(date_obj)
    transformado=pd.DataFrame({'id':data_frame['ID de venta'],'fecha':fecha,'id_producto':data_frame['ID de producto'],'id_cliente':data_frame['ID de cliente'],'cantidad':data_frame['Cantidad vendida'],'descuento':data_frame['Descuento'],'id_tienda':data_frame['ID de la tienda']})
    return(transformado)

In [67]:
ruta='sales_data.csv'
datos_extraidos=extraer_datos(ruta)
datos_transformados=transformacion(datos_extraidos)
datos_transformados.head(5)

,id,fecha,id_producto,id_cliente,cantidad,descuento,id_tienda
0,de249853-d129-41ce-8fc5-e4729a7e34b9,2024-02-12 19:12:00,30be362d-2a8a-41bf-ac5b-89d001ef1de9,b5f9c894-ac04-4785-8112-91ee0e598113,30,3,377a6598-039a-485c-836d-daf1fbf32238
1,03a62d85-904c-4ca1-90c2-cbe6140a6a5c,2023-06-28 16:00:00,459411b1-40de-4433-9981-af189969c637,ce7cf0c4-4b91-44b9-9200-f973a751b53f,200,24,9c339b9b-61be-45e7-9bb4-3747bb8e4d45
2,7ba12e88-b130-45df-a903-f8b97e4696dd,2023-01-04 14:38:00,e43a721e-9ff3-467f-9335-f0b19a801b91,c3b228c7-74ce-49a3-a3b3-cd2e1dccf9bc,37,57,dd0dd8a1-c63a-47e1-9e74-804e95b85866
3,969f4240-ddf3-44e9-8cb7-4b4bfa9042bc,2023-09-24 23:24:00,9b0e877f-bfe4-4a28-807e-af26a3e8de2c,51a5f054-8f61-4cc9-a13a-b427964a73c7,176,7,8bf84e18-03dd-4466-85e3-a13baa4edfdc
4,6046746b-3064-4f4e-b7f3-e6302008ffbe,2023-07-16 13:23:00,749dd4d1-6911-4c8c-9c08-63843bf3c4fb,cbee1941-4b03-459d-bf4d-39af94da5d29,33,37,76e1771f-adaf-46c3-841c-e717a9859685